body{
  background-color: black;
}

.title{
  height: 30px;
  width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.btn-primary{
  width: 100px;
}

.value {
  width: 100px;
}

.col-md-6{
  background-color: #99CCCC;
  margin-top: 30px;
}

.intro{
font-weight: bold;
}

.postersleft{
  margin-top: 30px;
  float: right;
  background-color: #99CCCC;
}

.postersright{
  margin-top: 30px;
  background-color: #99CCCC;
  width: 213px;
}

.list-group-item{
  margin-top: 20px;
}
