<!DOCTYPE html>
<html>
<head>
    <title>MovieFinder</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale =1.0">
    <script src="./lib/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/cssreset.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script src="./lib/angular.min.js" language="JavaScript" type="text/javascript"></script>
    <script src="./lib/angular-animate.js" language="JavaScript" type="text/javascript"></script>
    <script src="./lib/jquery-2.0.3.min.js" language="JavaScript" type="text/javascript"></script>
    <script src="./js/API-hack.js" type="text/javascript"></script>
    <!--Rotten Tomato API Key
        y6b9ytcux4tjc8x4dmkkqcug-->
    </head>
<body>
    <div id="container">
        <h1 class="title">
        WHAT MOVIE SHOULD I SEE?
        </h1>
        <div>
            <p class="intro">Hey, do you want to know what showing at the movies that's actually worth seeing?
                Well, now you don't have to wonder? Just Enter your minimal acceptabal rotten tomatoe score and I'll let you know
                which movies opening this weekend meet or exceed that score., so you don't have to waste time being tempted by
                a bad movie choice!
            </p>

            <div class= "form" ng-controller="mctrl">
            <form ng-submit = "submitFilter()">
              <input type="text" placeholder= "60 or Above">
              <input type ="submit" class="btn-primary">
              <input ng-click= "clear()" type ="button"  value= "Clean Up" class="btn-primary clean" >
            </form>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="movie in movies">
                    <span>{{movie.title}}</span></li>
            </ul>
        </div>


        </div>
     </div>
</body>
</html>
